// Main colors for the Original version
$ebony-clay:    #1C202B;
$white:         #FFFFFF;
$mint-julep:    #F1E7C0;
$torch-red:     white;
//

// Main colors for the Dark version
$cod-gray:      #171717;
$white:         #FFFFFF;
$mint-julep:    #F1E7C0;
$tussock:       #FAEDBA;

// Main colors for the Light version
$blanco:        #FFFFFF;
$noir:          #333333;
$menthe:        #32cfc6;
$lynch:         #6C7A89;

// Others colors

// Dark
$shark: #2B2D35;
$mine-shaft: #333333;
$charade: #292c37;
$black: #000000;

// Light
$alabaster: #F8F8F8;
$porcelain: #F5F6F7;

// Medium
$silver: #BABABA;
$dusty-gray: #999999;

// Alert colors
// Newsletter
$green-alert: #27AE60;
$red-alert: #C0392B;

// Contact Form
$contact-error: #FF1D4D;
$contact-success: #27AE60;

/// /// /// /// /// /// /// /// /// /// /// /// /// /// /// 

// Main fonts
$main-font: Ubuntu, 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;

// For the main demo, 4 columns/items
$items: 4;